.contacts {
  background-color: @white-bg;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}

.contacts__invite {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  font-style: normal;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
}

.contacts__phone,
.contacts__mail,
.contacts__addres {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
}
