.copyright {
  /* background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 102px 0;
  cursor: pointer;
 */
  /*  &:hover {
    background-image: url("../img/logo-htmlacademy-grey1.svg");
  }

  &:active {
    background-image: url("../img/logo-htmlacademy-grey2.svg");
  }
 */
  @media (max-width: 659px) {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    /* background-position: 128px 0; */
    /* width: 165px; */
    /* position: static; */
    margin-top: 80px;
    /* margin-left: 153px; */
    /* left: 0; */
    margin-right: 0;
    display: flex;
  }
}

.copyright__text {
  line-height: 18px;
  font-weight: normal;
  padding-top: 8px;
  /* margin-left: -1px; */

  @media (min-width: @tablet-width) {
    /* width: 88px; */
    margin-left: 19px;
    /* margin-right: 0px; */
    padding-top: 6px;
  }

  @media (min-width: @desktop-width) {
    /* width: 123px; */
    font-size: 18px;
    padding-top: 5px;
    margin-left: 0;
  }
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: 16px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  /* background-position: 102px 0; */
  cursor: pointer;


  @media (min-width: @tablet-width) {
    margin-left: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 13px;
  }/*

  &:hover {
    background-color: @text-page;
  } */
}
