.copyright {
  @media (max-width: 659px) {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 27px;
    margin-right: 0;
    display: flex;
  }
}

.copyright__text {
  line-height: 18px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    margin-left: 21px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    margin-left: 0;
  }
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: 13px;
  padding-top: 9px;
  cursor: pointer;
  fill: #D22856;

  @media (min-width: @tablet-width) {
    margin-left: 13px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
    padding-top: 14px;
  }
}

.copyright__link:hover .copyright__link-icon {
  fill: #283645;
}

.copyright__link:active .copyright__link-icon {
  fill: rgba(40, 54, 69, 0.3);
}
