.download-header {
  position: relative;

  @media (min-width: @mobile-width-only) {
    /* background-image: url("../img/iphone-hand-mobile@1x.png");
    background-position: 0 97px;
    background-repeat: no-repeat; */

    &::before {
      position: absolute;
      z-index: 6;
      content: "";
      display: block;
      width: 258px;
      height: 286px;
      top: 85px;
      left: -20px;
      background-image: url("../img/iphone-hand-mobile@1x.png");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @tablet-width) {
    background-image: none;
    min-height: 525px;
    margin-bottom: 47px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 470px;
      height: 545px;
      background-image: url("../img/iphone-hand-tabletM1x.png");
      background-position: center center;
      left: 147px;
      top: -20px;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: none;
    margin-top: 131px; /* стиль для полупрозрачного фона */

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 592px;
      height: 645px;
      top: 0;
      left: 347px;
      background-image: url("../img/iphone-hand-desktopM1x.png");
      background-position: 0 0;
    }
  }
}

.download-header__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin-top: -3px;
  margin-bottom: 340px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    width: 200px;
    margin-bottom: 27px;
    margin-left: 49px;
  }

  @media (min-width: @desktop-width) {
    width: 237px;
    margin-bottom: 35px;
    margin-left: 31px;
    font-size: 50px;
    line-height: 68px;
  }
}

.download-header__btn {
  display: block;
  width: 278px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 20px;
  color: @white;
  border: 3px solid #ffffff;
  border-radius: 30px;
  outline: none;
  text-align: center;
  position: relative;
  z-index: 6;
  box-sizing: border-box;

  &:hover {
    background-color: #ffffff;
    color: @pink;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 297px;
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    font-size: 21px;
  }
}

.download-header__info {
  font-weight: 300;
  width: 280px;
  padding-bottom: 31px;
  margin-bottom: -7px;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 6;
    font-size: 18px;
    width: 300px;
    margin-bottom: 119px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    font-size: 18px;
    width: 300px;
    margin-bottom: 130px;
    padding-bottom: 0;
  }
}
