.download-header__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.download-header__btn {
  width: 280px;
  padding: 21px 38px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  &:hover {
    background-color:#ffffff;
    color: @pink;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download-header__info {
  font-weight: 300;
}
