.editor {
  background-color: @grey-bg;
}

.editor__photo-call {
  background-color: @white;
  line-height: 30px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.editor__pic {
  padding-top: 25px;
}

.editor__slogan-do-it {
  line-height: 30px;
  width: 270px;
  text-align: center;
  margin-top: 47px;
  margin-left: 5px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    width: 425px;
    margin: 0 auto;
    margin-top: -11px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.editor__panel-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.editor__photo-change {
  margin-bottom: -7px;
  display: block;
}

