.editor {
  background-color: @grey-bg;
}

.editor__photo-call {
  background-color: @white-bg;
  font-size: 14px;
  line-height: 30px;
}

.photo-catalogue {
  list-style: none;
  margin: 0;
  padding: 0;
}

.setting__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-catalogue__reaction {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
