.page-header {
  width: 100%;
  min-height: 540px;
  background-color: @menu-bg;
  color: @white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 290px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    min-height: 680px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 340px;
  }

  @media (min-width: @desktop-width) {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
  }
}

.page-header--index {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat, no-repeat;

  @media (min-width: @tablet-width) {
    min-height: 545px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 320px;
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;
  }
}

.page-header--form {
  min-height: 540px;
  background-color: @menu-bg;
  color: @white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 290px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    min-height: 740px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 340px;
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    min-height: 480px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
    margin-bottom: 90px;
  }
}

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  width: 231px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 483px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    width: 750px;
  }
}

.users-photo__appeal {
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.page-header__logo {
  display: block;
  width: 78px;
  height: 69px;
  background-color: rgba(0, 0, 0, 0.3);
  /* background-image: url("../img/logo-pink-white-mobile.svg"); */
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 152px;
    height: 109px;
    /* background-image: url("../img/logo-pink-white-tablet.svg"); */
  }

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 110px;
    padding-left: 10px;
    /* background-image: url("../img/logo-pink-white-desktop.svg"); */
  }
}

// .page-header__logo img {
//   @media (min-width: @desktop-width) {
//     display: none;
//   }
// }

// .page-header__logo img {
//   width: 74px;
//   height: 23px;
// }

// @media (min-width: @tablet-width) {
//   .main-nav__list a {
//     color: green;
//   }
// }
