.page-header {
  width: 100%;
  min-height: 540px;
  background-color: @menu-bg;
  color: @white;
  /* background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 290px;
  background-repeat: no-repeat; */

  @media (min-width: @tablet-width) {
    /* min-height: 680px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 340px; */
    /* padding-bottom: 110px; */
  }
/*
  @media (min-width: @desktop-width) {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
  } */
}

/* .page-header--index {
  @media (max-width: 659px) {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: center 258px;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 47%;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 274px;

  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;
  }
}
 */

.wrapper-bg-foto { /* НОВЫЙ КОНТЕЙНЕР ДЛЯ ФОНОВ. ИЗОБРАЖ. */
  @media (min-width: @mobile-width-only) {
  min-height: 165px;
  background-color: @menu-bg;
  color: @white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center -66px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 44px;
  }

  @media (min-width: @tablet-width) {
    min-height: /* 695px */ 331px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-position: center -110px;
    margin-bottom: 88px;
    background-size: 183%;
  }
}

.page-header--form,
.page-header--foto {
  /* min-height: 496px; */
  min-height: 241px;
  /* background-color: @menu-bg;
  color: @white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 259px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 44px; */

 /*  @media (min-width: @tablet-width) {
    min-height: 695px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 262px;
    margin-bottom: 91px;
  } */

  @media (min-width: @desktop-width) {
    min-height: 394px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
    margin-bottom: -9px;
  }
}

.page-header--form {
  @media (min-width: @desktop-width) {
    margin-bottom: 90px;
  }
}

.page-header__logo {
  display: block;
  width: 78px;
  height: 49px;
  padding-top: 20px;
  margin-bottom: 0;
  background-position: 0 0;
  background-repeat: no-repeat;


  @media (min-width: @tablet-width) {
    width: 152px;
    height: 91px;
    margin-top: 7px;
    margin-bottom: -9px;
  }

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 110px;
    padding-top: 30px;
    margin-right: 173px;
  }
}

.page-header__logo img {
  width: 74px;
  height: 23px;

  @media (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }
}

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  width: 231px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 76px;
  padding-top: /* 39px */ 27px;

  @media (min-width: @tablet-width) {
    width: 483px;
    font-size: 50px;
    line-height: 68px;
    padding-top: 64px;
    padding-bottom: 0px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    margin-top: 60px;
  }
}

.page-header__title--foto {
  @media (min-width: @desktop-width) {
    width: 400px;
    margin-top: 60px;
  }
}

.page-header__title--form {
  @media (max-width: 659px) {
    padding-bottom: 43px;
  }
}
.move-word-4 {
  display: inline-block;
  width: 1px;
}

// .page-header__logo img {
//   @media (min-width: @desktop-width) {
//     display: none;
//   }
// }

// .page-header__logo img {
//   width: 74px;
//   height: 23px;
// }

// @media (min-width: @tablet-width) {
//   .main-nav__list a {
//     color: green;
//   }
// }
