.page-footer {
  background-color: @white;
}

.page-footer__logo:active {
  display: block;
  opacity: 0.3;
}

.copyright {
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 115px -5px;
  cursor: pointer;

  &:hover {
    background-image: url("../img/logo-htmlacademy-grey1.svg");
    background-repeat: no-repeat;
    background-position: 115px -5px;
  }

  &:active {
    background-image: url("../img/logo-htmlacademy-grey2.svg");
    background-repeat: no-repeat;
    background-position: 115px -5px;
  }
}
