.page-header {
  background-color: @menu-bg;
  color: @white;
}

.page-header--index {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: top center, top center;
  background-repeat: no-repeat, no-repeat;
}

.page-header--foto,
.page-header--form {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center, top center;
  background-repeat: no-repeat, no-repeat;
}

.page-header a {
  color: @white;
}
