.footer-wrapper {
  background-color: yellow; /* временный фон, убрать */

  @media (min-width: @mobile-width-only) {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;
  }
}

.page-footer {
  background-color: @white;
}

.page-footer__contacts {
  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.page-footer__social {
  @media (min-width: @tablet-width) {
    width: 400px;
  }
}

.page-footer__logo {
  width: 143px;

  @media (min-width: @mobile-width-only) {
    margin-left: 15%;
  }

  @media (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
    margin-right: 78px;
    margin-left: -3px;
  }

  @media (min-width: @desktop-width) {
    /* margin-right: 233px; */
  }
}

.page-footer__logo:active {
  display: block;
  opacity: 0.3;
}

.page-footer__logo img {
  margin-top: 37px;
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: -187px;
  }
}

.page-footer__copyright {
  @media (min-width: @mobile-width-only) {
    width: 180px;
    margin-left: 77px;
    margin-top: 44px;
    padding-top: 5px;
  }

  @media (min-width: @tablet-width) {
    width: 150px;
    margin-top: 48px;
    margin-left: 90px;
  }

  @media (min-width: @desktop-width) {
    /* width: 175px; */
    width: auto;
    margin-right: -10px;
    margin-left: 0;
  }
}
