.photo-catalogue {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-catalogue__item {
  background-color: @grey-bg;
}

.photo-catalogue__user-name {
  font-weight: bold;
}

.photo-catalogue__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-catalogue__user-comment {
  font-size: 14px;
}

.photo-catalogue__reaction {
  font-size: 12px;
  text-transform: uppercase;
  color: @pink;
}

.photo-catalogue__like-btn {
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  border: none;
}
