.photo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-catalogue__photo-pan {
  max-height: 138px;

  @media (min-width: @tablet-width) {
    max-height: 510px;
  }

  @media (min-width: @desktop-width) {
    max-height: 506px;
  }
}

.photo-list__item {
  background-color: @grey-bg;
}

.photo-list__user-name,
.photo-catalogue__user-name {
  font-weight: bold;
}

.photo-list__time,
.photo-catalogue__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-list__user-comment,
.photo-catalogue__user-comment {
  font-size: 14px;
}

.photo-list__reaction,
.photo-catalogue__reaction {
  font-size: 12px;
  text-transform: uppercase;
  color: @pink;
}

.photo-list__like-btn,
.photo-catalogue__like-btn {
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  border: none;
}
