.platform-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 20px;
  width: 262px;

  @media (min-width: @tablet-width) {
    /* margin-top: 40px; */
    margin-bottom: 36px;
    position: relative;
    z-index: 6;
    left: 4px;
    top: 3px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    width: 265px;
    margin-top: 78px;
    margin-bottom: 52px;
    padding-left: 6px;
  }
}

.platform-list__item--appsotre {
  width: 47px;
  height: 56px;
  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: 22px;
  margin-top: -12px;
}

.platform-list__item--android {
  width: 43px;
  height: 47px;
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: -7px;
}

.platform-list__item--microsoft {
  width: 44px;
  height: 41px;
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: -1px;
}
