.rate {
  background-color: #e5e5e5;

  @media (min-width: @mobile-width-only) {
    min-height: 379px;
    padding-top: 100px;
    margin-bottom: 45px;
  }

  @media (min-width: @tablet-width) {
    min-height: auto;
    margin-bottom: 0;
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 144px;
    padding-bottom: 97px;
    margin-bottom: 60px;
  }
}

.rate__toggles {
  @media (min-width: @mobile-width-only) {
    position: relative;
    top: 213px;
    left: 112px;
  }

  @media (min-width: @tablet-width) {
    position: static;
    text-align: center;
  }
}

/* стили для мобильной таблицы */
@media (max-width: 659px) {
  .rate__table {
    position: relative;
  }

  .table__head {
    box-sizing: border-box;
    position: absolute;
    min-width: 285px;
    height: 69px;
    padding-top: 16px;
    text-align: left;
    padding-left: 20px;
  }

  .table__head-filter {
    top: 96px;
    left: -2px;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 230px 18px;
  }

  .table__head-smile {
    top: 159px;
    left: -2px;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 230px 18px;
  }

  .table__head-comment {
    top: 216px;
    left: -2px;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 230px 20px;
  }

  .table__name-price--not,
  .table__price--not {
    display: none;
  }

  .table__name-price--hit {
    min-height: 96px;
  }

  .table__feature--not {
    display: none;
  }
}

/* стили для мобильной таблицы */
