.rate {
  background-color: #e5e5e5;;
}

.table__name-price {
  color: @text-white-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.table__head {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.table__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
