.setting__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.setting__submit-btn {
  width: 280px;
  padding: 21px 90px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @pink;
  border-radius: 30px;
  outline: none;
}

.setting__submit-btn--publish {
  border: 3px solid @pink;

  &:hover {
    background-color: @pink;
    color: @white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.setting__submit-btn--cancel {
  border: 3px solid  rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);

  &:hover {
    border: 3px solid rgba(40, 54, 69, 0.3);
    color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(40, 54, 69, 0.3);
  }
}
