.slider__list {
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.reviews__toggle {
  position: absolute;

  @media (min-width: @desktop-width) {
    width: 28px;
    height: 28px;
    border: 2px solid rgba(40, 54, 69, 0.3);
  }
}

.reviews__toggle--left {
  border-right-color: transparent;
  border-top-color: transparent;
  bottom: 173px;
  left: 5px;
  transform: rotate(45deg);

  &:hover {
    border-left-color: @text-page;
    border-bottom-color: @text-page;
  }

  &:active {
    border-left-color: rgba(40, 54, 69, 0.1);
    border-bottom-color: rgba(40, 54, 69, 0.1);
  }
}

.reviews__toggle--right {
  border-right-color: transparent;
  border-top-color: transparent;
  bottom: 173px;
  right: 7px;
  transform: rotate(225deg);

  &:hover {
    border-left-color: #283645;
    border-bottom-color: #283645;
  }

  &:active {
    border-left-color: rgba(40, 54, 69, 0.1);
    border-bottom-color: rgba(40, 54, 69, 0.1);
  }
}

.slider {
  position: relative;

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      width: 79px;
      height: 64px;
      top: -111px;
      left: 431px;
      margin-bottom: 0;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}


.slider__toggles {
  text-align: center;
  width: 90px;
  margin: 0 auto;
  margin-bottom: 36px;
  display: flex;


  @media (min-width: @tablet-width) {
    width: 90px;
    margin: 0 auto;
    display: flex;
  }
}

.slider__toggle {
  background-color: rgba(40, 54, 69, 0.3);
  border: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  outline: none;
  margin-right: 16px;
  box-sizing: content-box;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
    margin-right: 16px;
    margin-top: 2px;
  }
}

.slider__toggle--first {
  margin-left: 14px;
  margin-top: -2px;

  @media (min-width: @tablet-width) {
    margin-left: 14px;
  }
}

.slider__toggle--last {
  margin-left: 3px;

  @media (min-width: @tablet-width) {
    margin-left: 3px;
  }
}

.slider__toggle--current,
.slider__toggle--current:hover,
.slider__toggle--current:active {
  background-color: @white;
  border: 3px solid @text-page;
}

.slider-table__toggle {
  background-color: rgba(40, 54, 69, 0.3);
  border: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  outline: none;
  margin-right: 16px;
  box-sizing: content-box;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider-table__toggle--first {
  margin-left: 18px;
}

.slider-table__toggle--last {
  margin-left: 3px;
}

.slider-table__toggle--current,
.slider-table__toggle--current:hover,
.slider-table__toggle--current:active {
  background-color: @white;
  border: 3px solid @text-page;
}

.slider-table__toggle--current {
  margin-top: -2px;
}
