.slider__toggle {
  background-color: rgba(40, 54, 69, 0.3);
  border: none;
  padding: 3px;
  border-radius: 50%;
  outline: none;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.slider__toggle--current,
.slider__toggle--current:hover,
.slider__toggle--current:hover {
  background-color: @white;
  border: 3px solid @text-page;
}

.slider-table__toggle {
  background-color: rgba(40, 54, 69, 0.3);
  border: none;
  padding: 3px;
  display: inline-block;
  border-radius: 50%;
  outline: none;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.slider-table__toggle--current,
.slider-table__toggle--current:hover,
.slider-table__toggle--current:hover {
  background-color: @white;
  border: 3px solid @text-page;
}

.slider__list {

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
  }
}
