
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.table__name-price {
  position: relative;
  color: @white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 0;
  background-color: #283645;
  text-transform: uppercase;

  @media (min-width: @mobile-width-only) {
    height: 25px;
    padding-top: 14px;
    left: -2px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 18px;
    left: 0;
  }
}

.table__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  border-top: 0;
  background-color: #283645;
  color: #ffffff;

  @media (min-width: @mobile-width-only) {
    position: relative;
    left: -2px;
    height: 27px;
    line-height: 20px;
    padding-bottom: 28px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 25px;
    left: 0;
  }
}

td,
.table__head {
  width: 152px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.table__head {
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 138px;
    text-transform: capitalize;
    padding: 7px 0;
    padding-left: 14px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    padding-left: 20px;
    padding-top: 4px;
  }
}

.bg-grey {
  background-color: #f2f2f2;
}

.table__feature {
  @media (min-width: @desktop-width) {
    padding-top: 56px;
  }
}

.table__feature--yes {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.table__feature--no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.table__name-price--hit {
  /* min-width: 280px; */
}

.table__name-price--hit::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  left: 0;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.table__name-price--hit::after {
  content: "Хит";
  position: absolute;
  width: 61px;
  height: 61px;
  left: -7px;
  transform: rotate(-45deg);
  font-size: 14px;
  text-transform: uppercase;
}
