
.table {
  max-width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 231px;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.table__name-price {
  position: relative;
  color: @white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 0;
  background-color: #283645;
  text-transform: uppercase;

  @media (min-width: @mobile-width-only) {
    padding-top: 0;
    padding-top: 5px;
    line-height: 20px;
    box-sizing: border-box;
  }

  @media (min-width: @tablet-width) {
    padding-top: 19px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 19px;
    left: 1px;
    letter-spacing: 1.5px;
  }
}

.table__name-price--hit::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  top: 0;
  left: 0;
  background-image: url("../img/hit-ribbon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 15;

  @media (min-width: @tablet-width) {
    background-position: 0 -11px;
  }

  @media (min-width: @desktop-width) {
    background-position: 0 -5px;
  }
}

.table__name-price--hit::after {
  content: "Хит";
  position: absolute;
  top: 18px;
  left: 14px;
  transform: rotate(-45deg);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 15;

  @media (min-width: @tablet-width) {
    top: 17px;
    left: 7px;
  }

  @media (min-width: @desktop-width) {
    top: 16px;
    left: 13px;
  }
}

.table__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  border-top: 0;
  background-color: #283645;
  color: #ffffff;
  box-sizing: border-box;

  @media (min-width: @mobile-width-only) {
    position: relative;
    line-height: 20px;
    padding-bottom: 28px;
    padding-bottom: 34px;
    bottom: 5px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 19px;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 22px;
    padding-top: 4px;
    padding-left: 1px;
    left: 1px;
  }
}

td,
.table__head {
  width: 152px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;

  @media (max-width: 659px) {
    width: 100%;
  }
}

.table__head {
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    width: 159px;
    text-transform: capitalize;
    padding: 7px 0;
    padding-left: 15px;
    text-align: left;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    padding-left: 21px;
    width: 157px;
    box-sizing: border-box;
  }
}

.bg-grey {
  background-color: #f2f2f2;
}

.table__feature {
  @media (min-width: @desktop-width) {
    padding-top: 56px;
  }
}

.table__feature--yes {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.table__feature--no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/*Таблица на мобильной версии*/

@media (max-width: 659px) {
  .rate__wrapper {
    position: relative;
    min-height: 290px;
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .table {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .table td,
  .table th {
    width: 280px;
    min-width: 280px;
    box-sizing: border-box;
  }

  .table tr {
    position: relative;
    height: 59px;
  }

  table .table__row {
    height: 47px;
  }

  .table__head {
    position: absolute;
    height: 59px;
    left: 50%;
    padding-left: 20px;
    transform: translateX(-50%);
    text-align: left;
    z-index: 1;
    background-color: transparent;
  }

  .table__feature {
    position: relative;
    background-position-x: 230px;
    background-position-y: 14px;
  }
}
