.users-photo {
  background-color: @white-bg;
}

.photo-catalogue__item {
  background-color: @grey-bg;
}

.users-photo__appeal {
  font-size: 14px;
  line-height: 30px;
}

.photo-catalogue__user-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photo-catalogue__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-catalogue__user-comment {
  font-size: 14px;
  line-height: 24px;
}
